<style>
  * {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
  }

  body {
    background: white;
  }

  .page {
    width: 1206px;
    height: 905px;
    position: relative;
  }

  .content {
    width: 1075px;
    height: 795px;
    position: absolute;
    top: 75px;
    left: 65px;
    border-bottom: 1px solid black;
  }

  .left-panel {
    width: 372px;
    height: 795px;
    float: left;
  }

  .top-left-panel {
    height: 103px;
  }

  .left-content {
    height: 691px;
  }

  .right-panel {
    width: 703px;
    height: 795px;
    float: left;
  }

  .bottom-panel {
    position: absolute;
    bottom: 0;
    display: flex;
    border-top: 1px solid black
  }

  .meta-content {
    width: 703px;
    height: 103px;
    border-bottom: 1px solid black;
  }

  .meta-label-col {
    width: 119px;
  }

  .meta-value-col {
    width: 198px;
  }

  .vital-label-col {
    width: 116px;
  }

  .vital-value-col {
    width: 175px;
  }

  .qrcode-col {
    width: 69px;
  }

  .instructions-content {
    height: 691px;
    border-left: 1px solid black;
  }

  .investigations-content {
    width: 393px;
    border-right: 1px solid black;
  }

  .doc-content {
    width: 308px;
    text-align: center;
  }

  .diagnosis {
    display: inline;
  }

  .diagnosis li {
    display: inline;
  }

  .diagnosis li:after {
    content: ", ";
  }

  .diagnosis li:last-child:after {
    content: "";
  }

  .history {
    display: inline;
  }

  .history li {
    display: inline;
  }

  .history li:after {
    content: ", ";
  }

  .history li:last-child:after {
    content: "";
  }

  .list {
    padding-left: 30px;
    padding-right: 5px;
    margin-bottom: 15px;
  }

  .list-inline {
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 15px;
  }

  .title {
    margin: 5px;
  }

  .title-big {
    padding: 5px;
    font-size: 18px;
  }

  .section {
    border-bottom: 1px solid black;
    min-height: 100px;
  }

  .vitals-table {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 15px;
  }

  .meta-table {
    width: 703px;
    padding-left: 5px;
  }

  .doc-sign {
    margin: 5px;
    height: 60px;
    width: auto;
  }

  .doc-info {
    margin: 0px 20px 10px 20px;
    border-top: 1px solid black;
  }
</style>
<div class="page">
  <div class="content">
    <div class="left-panel">
      <div class="top-left-panel"></div>
      <div class="left-content">
        <div class="section">
          <h1 class="title-big">On Examination</h1>
          <table class="vitals-table">
            <colgroup>
              <col class="vital-label-col">
              <col class="vital-value-col">
            </colgroup>
            <tbody>
            {{#each vitals}}
              <tr>
                <td><strong>{{this.name}}:</strong></td>
                <td>{{{this.value}}}</td>
              </tr>
            {{/each}}
            </tbody>
          </table>
        </div>
        <div class="section">
          <h1 class="title">Chief Complaints</h1>
          <ul class="list">
            {{#each complaints}}
              <li><strong>{{this.complain}}</strong>{{#if this.details}}, {{this.details}}{{/if}}</li>
            {{/each}}
          </ul>
        </div>
        {{#if history.length}}
          <div class="section">
            <h1 class="title">Past History</h1>
            {{#each history}} {{#if data.length}}
              {{#each this.data}}
                &bull; &nbsp;{{this}}
              {{/each}}
            {{/if}} {{/each}}
          </div>
        {{/if}}
        {{#if diagnosis.length}}
          <div class="section">
            {{#each diagnosis}} {{#if this.data.length}}
              <h1 class="title">{{this.type}} Diagnosis</h1>
              <div class="list-inline">
                <ol class="diagnosis">
                  {{#each this.data}}
                    <li>{{this}}</li>
                  {{/each}}
                </ol>
              </div>
            {{/if}} {{/each}}
          </div>
        {{/if}}
        <div>
          <h1 class="title">Advice</h1>
          <ol class="list">
            {{#each advices}}
              <li>{{this}}</li>
            {{/each}}
          </ol>
        </div>
      </div>
    </div>
    <div class="right-panel">
      <div class="meta-content">
        <table class="meta-table">
          <colgroup>
            <col class="meta-label-col">
            <col class="meta-value-col">
            <col class="meta-label-col">
            <col class="meta-value-col">
            <col class="qrcode-col">
          </colgroup>
          <tbody>
          <tr>
            <td><strong>Appointment ID:</strong></td>
            <td>{{appointmentId}}</td>
            <td><strong>Porijon Name:</strong></td>
            <td>{{porijonName}}</td>
            <td rowspan="4" align="right"><img src="{{qrcode}}"/></td>
          </tr>
          <tr>
            <td><strong>MRP:</strong></td>
            <td>{{fee}}</td>
            <td><strong>SB Name:</strong></td>
            <td>{{sbName}}</td>
          </tr>
          <tr>
            <td>{{#if followupDate}}<strong>Follow-up Date:</strong>{{/if}}</td>
            <td>{{followupDate}}</td>
            <td><strong>SB Contact:</strong></td>
            <td>{{sbContact}}</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td><strong>Date:</strong></td>
            <td>{{date}}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="instructions-content">
        <h1 class="title-big">Rx</h1>
        <ul class="list">
          {{#each instructions}}
            <li>{{{this}}}</li>
          {{/each}}
        </ul>
        <div class="bottom-panel">
          <div class="investigations-content">
            <h1 class="title">Investigations</h1>
            <ol class="list">
              {{#each investigations}}
                <li>{{this}}</li>
              {{/each}}
            </ol>
          </div>
          <div class="doc-content">
            <img class="doc-sign" src="{{doctorSignature}}"/>
            <p class="doc-info">{{doctorName}}<br/>{{doctorDetails}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
